<!DOCTYPE html>
<html>
<head>
  <title>Maker</title>
  <%= stylesheet_link_tag "application", media: "all"%>
  <%=javascript_include_tag "jquery-1.10.2.js"%>
  <%=javascript_include_tag "photos.js"%>
  <%=javascript_include_tag "countdown.js"%>
  <%=csrf_meta_tags %>
</head>
<body>
<h1> 7 Minute Make </h1>

<% if flash[:notice] %>
	<div id="notices"><%= flash[:notice] %></div>
<% end %>	

<%= yield %>


</body>
</html>
